@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #343434;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #343434;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #343434;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #5E5E5E;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #898989;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #747474;
}